{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Online Library</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>

<h1>Online Library</h1>

<nav>
<a href="index.html">Home</a> |
<a href="pages/login.html">Login</a> |
<a href="pages/signup.html">Sign Up</a>
</nav>

</header>

<hr>

<main>

<section>

<h2>Welcome to the Online Library</h2>

<p>
This website allows users to browse books, search for books,
and borrow them easily.
</p>

</section>

<hr>

<section>

<h3>Quick Links</h3>

<ul>
<li><a href="pages/user_books.html">Browse Books</a></li>
<li><a href="pages/search.html">Search Books</a></li>
</ul>

</section>

</main>

<hr>
<footer>
    <form action="https://formsubmit.co/be136af79a36ee1f98093677271e4c0c" method="POST">
        <div>
            <h2>Get in Touch</h2>
        </div>
        <div class="form-row">
            <input class="contact" type="text" name="name" placeholder="Your Name" required>
            <input class="contact" type="email" name="email" placeholder="Your Email" required>
        </div>
        <textarea class="contact" name="massege" placeholder="Your Massege"></textarea><br><br>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="reset">Reset</button>
    </form>

    <p>Copyright @ 2026 All Rights</p>
</footer>

</body>

</html>
